@import 'jquery.toast.scss';
@-webkit-keyframes toast {
  0% { margin-top: 40px; }
  100% { margin-top: 0; }
}

body {
  padding: 40px 0;
}

.control-group {
  width: 100%;
  margin-bottom: 15px;
}

#prototypes {
  display: none;
}

.invisible-all {
  display: none;
}

.asyncPreloader {

  padding: 3px 0 0 0;
  .circle-clipper .circle {
    border-width: 2px;
  }

}
.asyncPreloader .circle-clipper .circle {
  border-width: 2px;
}

.blocked {
  .invisible-all {
    display: inline-block;
  }
}

.spinner-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.active .spinner-layer, .active .spinner-layer.spinner-blue-only, .active .spinner-layer.spinner-red-only, .active .spinner-layer.spinner-yellow-only, .active .spinner-layer.spinner-green-only {
  opacity: 1;
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both
}

.spinner-white, .spinner-blue-only {
  border-color: #4285f4
}

.spinner-blue, .spinner-white-only {
  border-color: #fff
}

.preloader-wrapper {
  display: inline-block;
  position: relative;
}

.circle-clipper {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;
}

.circle-clipper .circle {
  width: 200%;
  height: 100%;
  border-width: 3px;
  border-style: solid;
  border-color: inherit;
  border-bottom-color: transparent !important;
  border-radius: 50%;
  -webkit-animation: none;
  animation: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.circle-clipper.right .circle {
  left: -100%;
  border-left-color: transparent !important;
  -webkit-transform: rotate(-129deg);
  transform: rotate(-129deg);
}

.active .circle-clipper.right .circle {
  -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader-wrapper.active {
  -webkit-animation: container-rotate 1568ms linear infinite;
  animation: container-rotate 1568ms linear infinite;
}

.asyncPreloader {
  position: relative;
  right: 0;
  float: right;
  margin-left: 15px;
  max-height: 100%;
  top: 1px;
  height: 100%;
  line-height: 35px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.circle-clipper.left .circle {
  left: 0;
  border-right-color: transparent !important;
  -webkit-transform: rotate(129deg);
  transform: rotate(129deg);
}

.gap-patch {
  position: absolute;
  top: 0;
  left: 45%;
  width: 10%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;
}

.gap-patch .circle {
  width: 1000%;
  left: -450%;
}

.circle {
  border-radius: 50%;
}
.active .circle-clipper.left .circle {
  -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.active .circle-clipper.right .circle {
  -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.asyncPreloader .preloader-wrapper.small {
  width: 14px;
  height: 14px;
}

.image {
  cursor: pointer;
  height: 150px;
  width: 150px;
  border: dashed 1px #dfdfdf;
  float: left;
  margin-right: 15px;
  position: relative;
  text-align: center;
  font-size: 80px;
  line-height: 135px;
  margin-top: 10px;

  .actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    text-align: right;
    width: 100%;
  }
}

.image-item {
  .asyncPreloader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    margin-left: 0;
  }
  .asyncPreloader .preloader-wrapper.small {
    width: 35px;
    height: 35px;
  }
  .delete, .avatar {
    padding: 0;
  }
  .avatar {
    margin-right: 0;
    position: absolute;
    left: 7px;
    top: 0;
    i {
      transition: all 0.3s ease;
    }
  }

  .avatar.active {
    i {
      color: #ffba52;
      font-size: 25px;
      margin-top: 10px;
    }
  }
}

.image-item.blocked {
  img {
    display: none;
  }

}

.image:last-child {
  margin-right: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

textarea {
  resize: vertical;
  max-height: 400px;
}